In [1]:
import pandas as pd
import numpy as np
import re

# Importing Data
listings = pd.read_csv('/Users/kaileighstopa/Desktop/Python Practice/Hawaii Airbnb/Data/listings.csv')
reviews = pd.read_csv('/Users/kaileighstopa/Desktop/Python Practice/Hawaii Airbnb/Data/reviews.csv')
hosts = pd.read_csv('/Users/kaileighstopa/Desktop/Python Practice/Hawaii Airbnb/Data/host.csv')

## Cleaning listings dataset

In [2]:
# Inspecting dataset
display(listings.head())

# Length of dataset
display(len(listings))

# Inspecting missing values 
display(listings.isna().sum())

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3002.0,https://www.airbnb.com/rooms/3002,2.022120e+13,12/16/22,city scrape,"OCEAN VIEW 1BLK2BEACH,LANAI A/C,FULL KITCH,CEN...",Only renting while I'm gone on vacation or sta...,Waikiki has nice weather 90% percent if the ye...,https://a0.muscache.com/pictures/adf53d15-ab4b...,3364,...,4.87,4.97,4.74,92- 0251181,f,1,0,1,0,1.59
1,5269.0,https://www.airbnb.com/rooms/5269,2.022120e+13,12/15/22,city scrape,Upcountry Hospitality in the 'Auwai Suite,"The 'Auwai Suite is a lovely, self-contained a...","We are located on the ""sunny side"" of Waimea, ...",https://a0.muscache.com/pictures/5b52b72f-5a09...,7620,...,4.87,5.00,4.83,119-269-5808-01R,f,4,4,0,0,0.17
2,5387.0,https://www.airbnb.com/rooms/5387,2.022120e+13,12/15/22,city scrape,Hale Koa Studio & 1 Bedroom Units!!,This Wonderful Spacious Studio apt/flat is in ...,IN a Farm belt area with small commercial farm...,https://a0.muscache.com/pictures/1170713/dca6a...,7878,...,4.87,4.73,4.76,NaN,t,3,3,0,0,1.31
3,5389.0,https://www.airbnb.com/rooms/5389,2.022120e+13,12/15/22,city scrape,Keauhou Villa,It is less than 10 minute walk to the Keauhou ...,It is less than 10 minute walk to the Keauhou ...,https://a0.muscache.com/pictures/15520396/3b89...,7878,...,4.85,4.98,4.74,NaN,f,3,3,0,0,0.42
4,5390.0,https://www.airbnb.com/rooms/5390,2.022120e+13,12/16/22,city scrape,STAY AT PRINCE KUHIO!,"<b>The space</b><br />Prince Kuhio, Studio Uni...",NaN,https://a0.muscache.com/pictures/12955/af97ac5...,7887,...,4.78,4.89,4.64,"260050220000, TA-008-490-3424-01",f,1,1,0,0,1.03

30064

id                                                  0
listing_url                                         0
scrape_id                                           0
last_scraped                                        0
source                                              0
name                                                0
description                                       147
neighborhood_overview                           14097
picture_url                                         0
host_id                                             0
neighbourhood                                   14097
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                        0
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                       30064
bathrooms_text                                     21
bedrooms                                         3829
beds                                              445
amenities                                           0
price                                               0
minimum_nights                                      0
maximum_nights                                      0
minimum_minimum_nights                              0
maximum_minimum_nights                              0
minimum_maximum_nights                              0
maximum_maximum_nights                              0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_updated                                30064
has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
first_review                                     6774
last_review                                      6774
review_scores_rating                             6774
review_scores_accuracy                           6824
review_scores_cleanliness                        6824
review_scores_checkin                            6826
review_scores_communication                      6824
review_scores_location                           6826
review_scores_value                              6827
license                                          5027
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
reviews_per_month                                6774
dtype: int64

Some values are missing because listings don't contain the revelant fields. For example, not all hosts entered a listing description or neighborhood overview. In addition, some listings don't have any reviews yet, leading to missing values in the review fields.

In [3]:
# Missing values in 'description', 'neighbourhood_overview' are fine

# Checking if there is anything useful in 'neighbourhood' column, or if we can drop

display(listings['neighbourhood'].unique())
display(listings['neighbourhood_cleansed'].unique())

# It looks like 'neighbourhood_cleansed' is a more conscise list of neighborhoods in Hawaii, while 'neighbourhood' contains many unique values and 
# is probably free-form text by the host. We will keep 'neighbourhood_cleansed' for analysis
listings = listings.drop(columns=['neighbourhood'])

# Renaming 'neighbourhood_group_cleansed' to 'island'
listings.rename(columns={'neighbourhood_group_cleansed' : 'island'}, inplace=True)
listings.loc[listings['island']=='Honolulu', 'island'] = 'Oahu'

array(['Honolulu, Hawaii, United States',
       'Kamuela, Hawaii, United States',
       'Captain Cook, Hawaii, United States',
       'Kailua Kona, Hawaii, United States', nan,
       'Pāhoa, Hawaii, United States', 'Koloa, Hawaii, United States',
       'Kihei, Hawaii, United States',
       'Princeville, Hawaii, United States',
       'Kahuku, Hawaii, United States',
       'Kailua-Kona, Hawaii, United States',
       'Wailuku, Hawaii, United States', 'Haleiwa, Hawaii, United States',
       'Lahaina, Hawaii, United States',
       " Ma'alaea, Wailuku, Hawaii, United States",
       'Volcano, Hawaii, United States', 'Pahala, Hawaii, United States',
       'Haiku-Pauwela, Hawaii, United States',
       'Pepeekeo, Hawaii, United States', 'Paia, Hawaii, United States',
       'Makawao, Hawaii, United States', 'Kapolei, Hawaii, United States',
       'Kailua, Hawaii, United States', 'Keaau, Hawaii, United States',
       'Waianae, Hawaii, United States', 'Hanalei, Hawaii, United States',
       'Hilo, Hawaii, United States',
       'Kealakekua Bay, Hawaii, United States',
       'Hawi, Hawaii, United States', 'Naalehu, Hawaii, United States',
       'Haiku, Hawaii, United States', 'Maui, Hawaii, United States',
       'Kapaa, Hawaii, United States', 'Kekaha, Hawaii, United States',
       'Maunaloa, Hawaii, United States',
       'Pāpa‘aloa, Hawaii, United States',
       'Ko Olina, Hawaii, United States',
       'Wailea-Makena, Hawaii, United States',
       'Hōlualoa, Hawaii, United States',
       'Kaneohe, Hawaii, United States', 'Hana, Hawaii, United States',
       'Laie, Hawaii, United States', 'Kula, Hawaii, United States',
       'Honaunau-Napoopoo, Hawaii, United States',
       'Kilauea, Hawaii, United States', 'Waialua, Hawaii, United States',
       'Waikoloa Beach, Hawaii, United States',
       'Maui County, Hawaii, United States',
       'Hakalau, Hawaii, United States', 'Waimea, Hawaii, United States',
       'Hawaii, United States', 'Hauula, Hawaii, United States',
       "Papa'aloa town , Hawaii, United States",
       'Kealakekua, Hawaii, United States',
       'Waikoloa Village, Hawaii, United States',
       'Mountain View, Hawaii, United States',
       'Hāna, Hawaii, United States', 'Lihue, Hawaii, United States',
       'Maalaea Bay, Hawaii, United States',
       'Papaikou, Hawaii, United States',
       'Honokaa, Hawaii, United States',
       'Volcano , Hawaii, United States', 'Kīhei, Hawaii, United States',
       'Wailea, Hawaii, United States', 'Kapaau, Hawaii, United States',
       'Waimanalo, Hawaii, United States',
       'Makaha Valley, Hawaii, United States',
       'Keauhou, Hawaii, United States',
       'Hawaiian Acres, Hawaii, United States',
       'Ocean View, Hawaii, United States',
       'Puako, Hawaii, United States', 'lahaina , Hawaii, United States',
       'Maalaea, Hawaii, United States', 'volcano, Hawaii, United States',
       "Kapa'a, Hawaii, United States", 'Pahoa , Hawaii, United States',
       'Kawaihae , Hawaii, United States',
       'Anahola, Hawaii, United States', 'Pahoa, Hawaii, United States',
       'Haiku, Maui , Hawaii, United States',
       "Princeville, Kaua'i, Hawaii, United States",
       'hakalau, Hawaii, United States', 'Makaha, Hawaii, United States',
       'Kurtistown, Hawaii, United States',
       'Kalapana, Hawaii, United States',
       'Kalaheo, Hawaii, United States', 'Kaaawa, Hawaii, United States',
       'Ewa Beach, Hawaii, United States',
       'Līhuʻe, Hawaii, United States', 'Paauilo, Hawaii, United States',
       'Kaanapali, Hawaii, United States',
       'Kaunakakai, Hawaii, United States',
       'Kihei, Maui, Hawaii, United States',
       'Wailuku. Maui, Hawaii, United States',
       'Waikoloa , Hawaii, United States',
       'Kapaʻa, Hawaii, United States',
       'South Kohala, Hawaii, United States',
       'Laupahoehoe, Hawaii, United States',
       'Poipu , Hawaii, United States',
       'Princeville , Hawaii, United States',
       'Kohala Coast - Kamuela, United States',
       'Waikoloa Beach Resort, Hawaii, United States',
       'Papaikou/Hilo, Hawaii, United States',
       'Napili-Honokowai, Hawaii, United States',
       'Kaanapali, Hi, United States', 'Lahaina,, Hawaii, United States',
       'Mākaha Valley, Hawaii, United States',
       'Kawaihae, Hawaii, United States', 'Laie, Oahu, HI, United States',
       'Holualoa, Hawaii, United States',
       'Kapaa, Kauai, Hawaii, United States',
       'Aiea, Hawaii, United States', 'Waiʻanae, Hawaii, United States',
       'Waiohinu, Hawaii, United States',
       'Kailua-Kona , Hawaii, United States',
       'Hawaii County, Hawaii, United States',
       'Hawaiian Paradise Park, Hawaii, United States',
       'Mauna Lani , Hawaii, United States',
       'Kameula, Hawaii, United States',
       'Kailua - Kona, Hawaii, United States',
       'Ocean view, Hawaii, United States',
       'Kahaluu-Keauhou, Hawaii, United States',
       'Poipu, Hawaii, United States',
       'Lanai City, Hawaii, United States',
       'Haena, Hawaii, United States',
       'Makaha valley, Hawaii, United States',
       'Big Island, Hawaii, United States',
       'Mililani, Hawaii, United States',
       'honolulu, Hawaii, United States', 'Honomu, Hawaii, United States',
       'Kihei, United States', 'Kanaanapali, Hawaii, United States',
       'Waikoloa, Hawaii, United States',
       'Honolulu , Hawaii, United States',
       'Lahaina, , Hawaii, United States',
       ' Honolulu , Hawaii, United States',
       'Mt. View, Hawaii, United States',
       'Maunoloa, Hawaii, United States',
       'Waikiki, Hawaii, United States',
       'Mauna Lani, Hawaii, United States',
       'Kahana, Hawaii, United States', 'Lahaina , Hawaii, United States',
       'Kihei , Hawaii, United States',
       'Poipu/ Koloa, Hawaii, United States',
       'Wahiawa, Hawaii, United States', 'Oahu, Hawaii, United States',
       'lahaina, Hawaii, United States', 'N?nole, Hawaii, United States',
       'Papaaloa, Hawaii, United States', 'Koloa , Hawaii, United States',
       'Poipu Koloa, Hawaii, United States',
       'Mountain View , Hawaii, United States',
       'Waipahu, Hawaii, United States', 'Anini, Hawaii, United States',
       'Pearl City, Hawaii, United States',
       'Hawaiian Paradise Park , Hawaii, United States',
       'Honolulu, United States', 'Nīnole, Hawaii, United States',
       'Eden Roc, Hawaii, United States', ' Lihue, Hawaii, United States',
       'Volcano Village, Hawaii, United States',
       'Makaha , Hawaii, United States',
       'West Kahuku, Hawaii, United States',
       'Kauai, Hawaii, United States',
       ' Kailua-Kona, Hawaii, United States', 'Keaau , Hi, United States',
       'Kapolei , Hawaii, United States',
       'Holualoa , Hawaii, United States', '*, Hawaii, United States',
       'LAHAINA, Hawaii, United States', 'Keaau , Hawaii, United States',
       'koloa, Hawaii, United States', 'Pāhoa  , Hawaii, United States',
       "Ka'anapali, Hawaii, United States",
       'Papaaloa , Hawaii, United States',
       'MAUNALOA MOLOKAI , Hawaii, United States',
       'Kea’au , Hawaii, United States', 'Kapalua, Hawaii, United States',
       'Kohala Coast, Hawaii, United States',
       'Mauna Lani Resort, Hawaii, United States',
       'Kahului, Hawaii, United States',
       'Ocean View , Hawaii, United States',
       "Kea'au, Hawaii, United States",
       'Ocean View - Captain Cook, Hawaii, United States',
       'Wailea , Hawaii, United States',
       'Poipu-Koloa, Hawaii, United States',
       'Wainiha, Hawaii, United States',
       ' Volcano , Hawaii, United States',
       'Holualoa, Huwaii, United States', 'Kehena, Hawaii, United States',
       'Kaneohe , Hawaii, United States',
       'Honokowai, Hawaii, United States',
       'Waikoloa Beach Village, Hawaii, United States',
       'Kamuela , Hawaii, United States', 'Lawai, Hawaii, United States',
       'Kauai County, Hawaii, United States',
       'Honolulu, HI     , United States',
       'Kawela Bay, Hawaii, United States',
       'Molokai, Hawaii, United States',
       'Ocean View Ranchos, Hawaii, United States',
       'Fern Forest, Hawaii, United States',
       'Fern Acres, Hawaii, United States',
       'Waimānalo, Hawaii, United States',
       'Ainaloa, Hawaii, United States',
       'Alii Drive Kailua Kona, Hawaii, United States',
       'St. Volcano, Hawaii, United States',
       'Pupukea , Hawaii, United States',
       'Mountain View, Volcano, HI, United States',
       'Pupukea, Hawaii, United States'], dtype=object)

array(['Primary Urban Center', 'South Kohala', 'South Kona', 'North Kona',
       'Koloa-Poipu', 'Puna', 'Kihei-Makena', 'North Shore Kauai',
       'Koolauloa', 'Wailuku-Kahului', 'North Shore Oahu', 'Lahaina',
       'Kau', 'Paia-Haiku', 'South Hilo', 'Makawao-Pukalani-Kula',
       'Kapaa-Wailua', 'Ewa', 'Koolaupoko', 'Waianae', 'Waimea-Kekaha',
       'North Kohala', 'Lihue', 'East Honolulu', 'Molokai', 'North Hilo',
       'Hana', 'Hamakua', 'Lanai', 'Central Oahu'], dtype=object)

In [4]:
# 'bathrooms' column is entirely missing values, can go ahead and drop
listings = listings.drop(columns=['bathrooms'])

# Extracting bathroom number from 'bathrooms_text' column 
listings['bathrooms_text'] = listings['bathrooms_text'].fillna('missing')
display(listings['bathrooms_text'].unique())
listings['bathroom_num'] = listings['bathrooms_text'].str.extract(r'(\d+(?:\.\d+)?)')
listings.loc[listings['bathrooms_text'].str.lower().str.contains('half-bath'), 'bathroom_num'] = 0.5

# Extracting whether a bathroom is shared or not from 'bathrooms_text' column
listings['bathroom_shared'] = 0
listings.loc[listings['bathrooms_text'].str.lower().str.contains('shared'), 'bathroom_shared'] = 1

# There are still 21 missing values for 'bathroom_num', I will just impute with most common bathroom number which is 1 
listings['bathroom_num'] = listings['bathroom_num'].fillna(listings['bathroom_num'].mode()[0])

array(['1 shared bath', '1 bath', '3 baths', '1 private bath', '2 baths',
       '2.5 baths', '1.5 baths', '3.5 baths', '4 baths',
       '1.5 shared baths', '3.5 shared baths', '2 shared baths',
       '4.5 baths', 'Half-bath', '0 shared baths', '0 baths', '5.5 baths',
       '3 shared baths', 'missing', '5 baths', '8 baths', '6.5 baths',
       '7.5 baths', '6 baths', '6.5 shared baths', '7 baths',
       '2.5 shared baths', '4 shared baths', '10 baths', '8.5 baths',
       '10 shared baths', '9.5 baths', '14 baths', 'Private half-bath',
       '9 baths', '12 baths', '4.5 shared baths', '11 baths',
       'Shared half-bath', '13 baths', '10.5 baths', '18 baths'],
      dtype=object)

It's possible that any missing values for bedroom are because the listings are hotel rooms or studios, where there is no designated "bedroom". Let's see if this might be true.

In [5]:
# Missing values for bedrooms and beds
display(listings[listings['bedrooms'].isna()]['property_type'].value_counts())
display(listings[listings['bedrooms'].isna()]['room_type'].value_counts())

Entire condo                          2096
Entire rental unit                     711
Entire guest suite                     144
Private room in resort                 139
Entire serviced apartment              100
Entire guesthouse                       92
Room in hotel                           74
Entire home                             72
Camper/RV                               55
Room in boutique hotel                  42
Room in aparthotel                      32
Entire cottage                          30
Private room in condo                   24
Entire vacation home                    20
Entire loft                             20
Tiny home                               18
Private room in bed and breakfast       13
Private room in home                    13
Private room in rental unit             13
Entire cabin                            12
Farm stay                               12
Entire place                             9
Campsite                                 9
Private room in guest suite              8
Entire bungalow                          8
Private room in serviced apartment       7
Entire villa                             7
Private room in hostel                   6
Entire townhouse                         5
Private room in villa                    5
Tent                                     4
Private room in tent                     3
Private room in guesthouse               3
Private room in bungalow                 2
Entire bed and breakfast                 2
Private room in nature lodge             2
Private room in farm stay                2
Entire home/apt                          2
Private room in camper/rv                2
Hut                                      1
Private room in treehouse                1
Yurt                                     1
Private room in chalet                   1
Room in resort                           1
Private room in tiny home                1
Bus                                      1
Private room in cabin                    1
Private room in loft                     1
Private room in townhouse                1
Treehouse                                1
Name: property_type, dtype: int64

Entire home/apt    3459
Private room        363
Hotel room            7
Name: room_type, dtype: int64

Unfortunately, it looks like the majority of missing bedroom values are for entire homes/apartments/condos/rental units, which means that the 'bedrooms' information is probably just missing from the listing. There are a lot less missing values for # of beds ('beds'), so I will impute using those values and the mode, assumimg that most bedrooms only have one bed in them.

In [6]:
# Imputing missing 'bedrooms' values with 'beds' information, and vice versa
listings['bedrooms'] = listings['bedrooms'].fillna(listings['beds'])
listings['beds'] = listings['beds'].fillna(listings['bedrooms'])

display(listings[['bedrooms', 'beds']].isna().sum())

# There are still 87 missing values for 'bedrooms' and 'beds', I will impute these with the modes for both features
listings['bedrooms'] = listings['bedrooms'].fillna(listings['bedrooms'].mode()[0])
listings['beds'] = listings['beds'].fillna(listings['beds'].mode()[0])

bedrooms    87
beds        87
dtype: int64

In [7]:
# Extracting $ sign from 'price' feature so it can be numeric
mask = listings['price'].notnull() & listings['price'].str.contains('$')
listings.loc[mask, 'price'] = pd.to_numeric(listings.loc[mask, 'price'].str.replace(',', '').str.lstrip('$'))

# Converting 'has_availability' and 'instant_bookable' to boolean
listings.loc[listings['has_availability']=='f', 'has_availability'] = False
listings.loc[listings['has_availability']=='t', 'has_availability'] = True

listings.loc[listings['instant_bookable']=='f', 'instant_bookable'] = False
listings.loc[listings['instant_bookable']=='t', 'instant_bookable'] = True

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3849608742.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  listings.loc[mask, 'price'] = pd.to_numeric(listings.loc[mask, 'price'].str.replace(',', '').str.lstrip('$'))

The remaining missing values can remain in the dataset. The values 'description' and 'neighbourhood_overview' are missing from some listings because some hosts do not put them in. Review features, such as 'first_review', 'review_scores_rating', and 'reviews_per_month' are missing for listings with no reviews as of the time of data collection. I will not be using the 'license' feature in my analysis, so that is not relevant either. Below, I will drop 'calendar_updated', which contains only missing values, and other features that are not needed for my analysis going forward.

In [8]:
# Dropping columns where all observations are missing
listings = listings.drop(columns=['calendar_updated'])

# Dropping other columns not relevant for analysis
listings = listings.drop(columns=['scrape_id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'picture_url', 'latitude', 'longitude', 'minimum_minimum_nights',
                                  	'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm',
                                    'maximum_nights_avg_ntm', 'calendar_last_scraped', 'license'])

In [9]:
describe_listings = listings.describe()
display(describe_listings)

,id,host_id,accommodates,bedrooms,beds,price,minimum_nights,maximum_nights,availability_30,availability_60,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,bathroom_shared
count,3.006400e+04,3.006400e+04,30064.000000,30064.000000,30064.000000,30064.000000,30064.000000,30064.000000,30064.000000,30064.000000,...,23238.000000,23240.000000,23238.000000,23237.000000,30064.000000,30064.000000,30064.000000,30064.000000,23290.000000,30064.000000
mean,1.937206e+17,1.450743e+08,4.738026,1.738159,2.538518,536.015521,7.852614,495.782597,7.729078,17.704464,...,4.847838,4.821442,4.867748,4.678967,80.977382,67.186668,13.752495,0.012839,1.241942,0.027641
std,3.073287e+17,1.452389e+08,2.464576,0.971893,1.536605,1528.681305,23.926141,451.984388,8.574517,18.017009,...,0.313373,0.346405,0.246300,0.387124,125.440635,105.070240,75.054025,0.229617,1.364240,0.163945
min,3.002000e+03,8.840000e+02,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.010000,0.000000
25%,2.757391e+07,3.074786e+07,3.000000,1.000000,2.000000,178.000000,1.000000,60.000000,1.000000,3.000000,...,4.830000,4.790000,4.830000,4.590000,2.000000,2.000000,0.000000,0.000000,0.300000,0.000000
50%,4.741853e+07,9.700641e+07,4.000000,2.000000,2.000000,287.000000,2.000000,365.000000,5.000000,11.000000,...,4.950000,4.940000,4.930000,4.770000,19.000000,14.000000,0.000000,0.000000,0.780000,0.000000
75%,5.815162e+17,2.260004e+08,6.000000,2.000000,3.000000,480.000000,5.000000,1125.000000,11.000000,28.000000,...,5.000000,5.000000,5.000000,4.910000,96.000000,82.000000,0.000000,0.000000,1.780000,0.000000
max,7.815630e+17,4.913647e+08,16.000000,12.000000,32.000000,100000.000000,1000.000000,1825.000000,30.000000,60.000000,...,5.000000,5.000000,5.000000,5.000000,570.000000,403.000000,534.000000,8.000000,41.800000,1.000000

In [10]:
# Inspecting rows where 'accommodates' == 0 
display(listings[listings['accommodates']==0])
# There is only row with a '0' value for 'accommodates' and it is a hotel room, so I will impute with 'accommodates' = 2, as hotel rooms are most commonly for two people
listings.loc[listings['accommodates']==0, 'accommodates'] = 2

# Inspecting rows where beds > 20, they could just be very large properties such as mansions, but just want to check
display(listings[listings['beds'] > 20][['name', 'description', 'bedrooms', 'bathroom_num']])
# Indeed they are mansions! I will leave them be

# The max value of 'minimum_nights' is 1000, which is a little surprising. The next highest value is 365, which makes sense if someone is looking to rent their property for an entire year
display(listings[listings['minimum_nights']==1000])
# There is only one row, and it is a room in a boutique hotel, so a minimum stay of 1000 nights doesn't make much sense. Imputing 'minimum_nights' = 1, as most hotels do not require a minimum stay
listings.loc[listings['minimum_nights']==1000, 'minimum_nights'] = 1

,id,name,description,neighborhood_overview,host_id,neighbourhood_cleansed,island,property_type,room_type,accommodates,...,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,bathroom_num,bathroom_shared
13059,43309266.0,Castle Hilo Hawaiian Hotel,NaN,NaN,178505475,South Hilo,Hawaii,Room in hotel,Hotel room,0,...,4.78,4.26,False,1,0,0,0,10.3,1,0

,name,description,bedrooms,bathroom_num
7505,Fern Acres B&B 8 bed 8.5 bath Licensed.,"The quoted price is for the whole house, but w...",8.0,8.5
13203,Luxurious Hawaii Wedding Estate,"Welcome to the only luxury 10 bedroom, 5.5 on ...",10.0,5.5
15256,Hale Plumeria~oceanviewoahu~wVanS~Fast Net,This is one of the most unique homes near Waik...,7.0,6
15716,#1 Rated Luxury OCEAN FRONT Mansion! Sleeps 32,Welcome to Maui's most desirable vacation home...,11.0,11
20954,Orchid Isle Manor,Enjoy the sounds of nature when you stay at th...,8.0,7.5

,id,name,description,neighborhood_overview,host_id,neighbourhood_cleansed,island,property_type,room_type,accommodates,...,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,bathroom_num,bathroom_shared
7716,27994801.0,Romantic Ocean View Boutique hotel condo #2001,"Inn On the Park Condo, #2001 is a brand new ap...",It only take me 10 minutes to walk to the beac...,210552519,Primary Urban Center,Oahu,Room in boutique hotel,Private room,3,...,4.75,4.51,True,1,0,1,0,1.06,1.5,1

In [11]:
# Converting 'first_review' and 'last_review' to datetime 

listings['first_review'] = pd.to_datetime(listings['first_review'])
listings['last_review'] = pd.to_datetime(listings['last_review'])

In [12]:
# Exporting cleaned dataset to csv
listings.to_csv('/Users/kaileighstopa/Desktop/Python Practice/Hawaii Airbnb/Data/listing_cleaned.csv')

## Cleaning reviews dataset

In [13]:
# Inspecting dataset
display(reviews.head())

# Length of dataset
display(len(reviews))

# Checking for missing values
display(reviews.isna().sum())

# Checking date range
reviews['date'] = pd.to_datetime(reviews['date'])
display('Review date range: ' + str(reviews['date'].dt.date.min()) + ' to ' +str(reviews['date'].dt.date.max()))

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3002.0,63686.0,7/11/10,155310,Debbie,"Lynne is very kind and accommodating, the loca..."
1,3002.0,71254.0,7/31/10,75939,Bonnie,I came back to the island on my own for my 25t...
2,3002.0,132520.0,11/2/10,189930,Alexandra,I had a wonderfull time in Hawaii. Lynne is a ...
3,3002.0,158315.0,12/25/10,291487,Shirley,"Lynn was a wonderful hostess and is a lovely, ..."
4,3002.0,168133.0,1/8/11,331679,Elizabeth,"Just a short walk to Waikiki beach, restaurant..."

961631

listing_id         0
id                 0
date               0
reviewer_id        0
reviewer_name      0
comments         177
dtype: int64

'Review date range: 2009-05-07 to 2022-12-15'

The reviews dataset already looks good. There are some missing values for 'comments', but most likely those are just people who left reviews but did not include any free-form text commentary.

In [14]:
# Exporting cleaned dataset to csv
reviews.to_csv('/Users/kaileighstopa/Desktop/Python Practice/Hawaii Airbnb/Data/reviews_cleaned.csv')

## Cleaning hosts dataset

In [15]:
# Inspecting dataset
display(hosts.head())

# Length of dataset
display(len(hosts))

# Checking for missing values
display(hosts.isna().sum())

,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
0,884,https://www.airbnb.com/users/show/884,Doug,7/20/08,"Naples, FL",My wife Rebecca and I own a gorgeous ocean vie...,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/35de0...,https://a0.muscache.com/im/pictures/user/35de0...,NaN,1.0,"['email', 'phone']",t,t
1,908,https://www.airbnb.com/users/show/908,Sherry,7/21/08,"Lahaina, HI",My name is Sherry Boonstra-Barbier and I have ...,within a few hours,100%,50%,f,https://a0.muscache.com/im/pictures/user/4fa8b...,https://a0.muscache.com/im/pictures/user/4fa8b...,Lahaina,18.0,"['email', 'phone', 'work_email']",t,t
2,2971,https://www.airbnb.com/users/show/2971,Donald,9/15/08,"Hakalau, HI",NaN,within an hour,100%,100%,f,https://a0.muscache.com/im/pictures/user/596bf...,https://a0.muscache.com/im/pictures/user/596bf...,NaN,1.0,"['email', 'phone']",t,t
3,3364,https://www.airbnb.com/users/show/3364,Lynne,9/30/08,"Honolulu, HI",Aloha! Alittle bit about me: I teach snorkelin...,within a day,100%,100%,f,https://a0.muscache.com/im/pictures/user/b6986...,https://a0.muscache.com/im/pictures/user/b6986...,Waikiki,1.0,"['email', 'phone']",t,t
4,4754,https://www.airbnb.com/users/show/4754,Christine,12/2/08,"Hilo, HI",We are seasoned travelers and the owners of Em...,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/36817...,https://a0.muscache.com/im/pictures/user/36817...,Hilo,1.0,"['email', 'phone']",t,t

8308

host_id                      0
host_url                     0
host_name                    1
host_since                   1
host_location             1800
host_about                3678
host_response_time        1079
host_response_rate        1079
host_acceptance_rate       616
host_is_superhost           30
host_thumbnail_url           1
host_picture_url             1
host_neighbourhood        2885
host_listings_count          1
host_verifications           0
host_has_profile_pic         1
host_identity_verified       1
dtype: int64

In [16]:
# There are many features for which there is only 1 missing value - perhaps these are all due to the same observation
display(hosts[hosts['host_name'].isna()])
# Sure enough! Not sure what is going on with this observation, but I will drop it

# Impute 'host_is_superhost' as false for missing values
hosts['host_is_superhost'] = hosts['host_is_superhost'].fillna('f')

# Convert 'host_is_superhost' to boolean
hosts.loc[hosts['host_is_superhost']=='f', 'host_is_superhost'] = False
hosts.loc[hosts['host_is_superhost']=='t', 'host_is_superhost'] = True

# Converting 'host_has_profile_pic' and 'host_identify_verified' columns to boolean
hosts.loc[hosts['host_has_profile_pic']=='f', 'host_has_profile_pic'] = False
hosts.loc[hosts['host_has_profile_pic']=='t', 'host_has_profile_pic'] = True

hosts.loc[hosts['host_identity_verified']=='f', 'host_identity_verified'] = False
hosts.loc[hosts['host_identity_verified']=='t', 'host_identity_verified'] = True
 
# Taking out % symbols from 'host_response_rate' and 'host_acceptance_rate'
mask = hosts['host_response_rate'].notnull() & hosts['host_response_rate'].str.contains('%')
hosts.loc[mask, 'host_response_rate'] = pd.to_numeric(hosts.loc[mask, 'host_response_rate'].str.rstrip('%'))

mask = hosts['host_acceptance_rate'].notnull() & hosts['host_acceptance_rate'].str.contains('%')
hosts.loc[mask, 'host_acceptance_rate'] = pd.to_numeric(hosts.loc[mask, 'host_acceptance_rate'].str.rstrip('%'))

# Converting host_since to datetime 
hosts['host_since'] = pd.to_datetime(hosts['host_since'])

,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_verifications,host_has_profile_pic,host_identity_verified
413,2161416,https://www.airbnb.com/users/show/2161416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,NaN,NaN,None,NaN,NaN

The remaining missing values are not concerning, as some hosts are just missing information. For example, a host may not have an 'about' section or location on their profile. In addition, hosts that have not yet exchanged messages with guests or rented out their property may not have stats such as 'host_response_time' and 'host_acceptance_rate' available.

In [17]:
# Dropping features that are not relevant to my analysis 
hosts = hosts.drop(columns=['host_url', 'host_thumbnail_url', 'host_picture_url'])

In [18]:
# Looking at summary statistics 
display(hosts.describe())

            host_id  host_listings_count
count  8.308000e+03          8307.000000
mean   1.451836e+08             8.023233
std    1.461807e+08            60.873949
min    8.840000e+02             1.000000
25%    2.498421e+07             1.000000
50%    9.083849e+07             1.000000
75%    2.273685e+08             3.000000
max    4.913647e+08          2577.000000

It looks like there might be hosts with multiple thousands of listings! Based on inspecting the host 'about' feature, it looks like the hosts with multiple hundreds of listings are mostly travel management companies that are operated through Airbnb, or large resorts with many units available. There's no straight forward way to check which of these values might be erroneous, will keep them for now

In [19]:
# Displaying sample of 'about' feature for hosts with many listings
display(hosts[hosts['host_listings_count']>1000]['host_about'].values)

array(['Our selected accommodations combine the best features of a hotel and vacation rental home to ensure a wonderful and effortless stay! We take the guesswork out of where you are staying so you can concentrate on what you want to be doing.\r\n\r\nWe handpick the accommodations in the best properties all over the US offering great vacation rental experience and impeccable service: serviced apartments, oversized suites and accommodations in resorts with outstanding amenities and much more! We do this by testing them ourselves before the hit the list, so we know what to expect before you make the reservation. \r\n\r\nWe are available 24/7 to make sure all your special requests are taken care of and to assist with any questions or issues you might have throughout your stay!',
       'Going someplace new is always exciting. And what would that adventure be without a great place to lay your head at the end of the day? That is where I come in!\n\nAs an avid traveler myself, I know how the little things can set the pace for a new experience! You want something hospitable and inviting to give you a remarkable experience that no one else can give you. A heated pool, or jacuzzi at the end of the day to relax in, or a nice meal within walking distance? Down to beds that cozy and homily. Sounds good? Well, you have come to the right place.\n\nWe offer handpicked accommodations in remarkable properties for a  top-notch experience with a few added extras. As well as tips, recommendations, and 24/7 customer support to make sure that your experience is the best it can be! ',
       'Hosted by RedAwning Vacation Rentals\n\nWelcome to RedAwning, a whole new way to travel. We make staying in a unique home or apartment easier than staying at a hotel. By partnering with local homeowners throughout North America, we provide you with the largest collection of vacation homes in the most destinations.  Every stay includes our experienced 24/7 customer assistance by text, chat, email and phone, and access to all your travel details via our free mobile app. We offer consistent terms and flexible cancellation policies, and we include accidental damage protection for every stay with no security deposits and a best rate guarantee. Wherever you want to go, RedAwning is here to make your journey easier!',
       'At RTF Resorts, we help timeshare owners rent their suites to cover their HOA fees.  We ask that you support our wonderful owners instead of the big hotel chains! Thank you!'],
      dtype=object)

In [20]:
# Exporting cleaned dataset to csv
hosts.to_csv('/Users/kaileighstopa/Desktop/Python Practice/Hawaii Airbnb/Data/hosts_cleaned.csv')

In [21]:
# Connecting to SQL database 

import sqlalchemy
from sqlalchemy import create_engine
%load_ext sql
%sql postgresql://postgres:password@localhost/hawaii_airbnb
engine = sqlalchemy.create_engine('postgresql://postgres:password@localhost:5432/hawaii_airbnb')

listings.to_sql('listings', con=engine, if_exists='replace', index=False)
reviews.to_sql('reviews', con=engine, if_exists='replace', index=False)
hosts.to_sql('hosts', con=engine, if_exists='replace', index=False)

# Checking that tables are properly loaded into database hawaii_airbnb
%sql SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';

 * postgresql://postgres:***@localhost/hawaii_airbnb
3 rows affected.

[('listings',), ('reviews',), ('hosts',)]

In [22]:
%%sql

-- Checking to make sure data types were captured correctly in SQL tables
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_name IN ('listings', 'hosts', 'reviews')
ORDER BY table_name, data_type;

 * postgresql://postgres:***@localhost/hawaii_airbnb
62 rows affected.

[('hosts', 'host_response_rate', 'bigint'),
 ('hosts', 'host_id', 'bigint'),
 ('hosts', 'host_acceptance_rate', 'bigint'),
 ('hosts', 'host_identity_verified', 'boolean'),
 ('hosts', 'host_has_profile_pic', 'boolean'),
 ('hosts', 'host_is_superhost', 'boolean'),
 ('hosts', 'host_listings_count', 'double precision'),
 ('hosts', 'host_response_time', 'text'),
 ('hosts', 'host_verifications', 'text'),
 ('hosts', 'host_name', 'text'),
 ('hosts', 'host_neighbourhood', 'text'),
 ('hosts', 'host_location', 'text'),
 ('hosts', 'host_about', 'text'),
 ('hosts', 'host_since', 'timestamp without time zone'),
 ('listings', 'number_of_reviews', 'bigint'),
 ('listings', 'calculated_host_listings_count_shared_rooms', 'bigint'),
 ('listings', 'calculated_host_listings_count_private_rooms', 'bigint'),
 ('listings', 'calculated_host_listings_count_entire_homes', 'bigint'),
 ('listings', 'calculated_host_listings_count', 'bigint'),
 ('listings', 'host_id', 'bigint'),
 ('listings', 'accommodates', 'bigint'),
 ('listings', 'bathroom_shared', 'bigint'),
 ('listings', 'number_of_reviews_l30d', 'bigint'),
 ('listings', 'number_of_reviews_ltm', 'bigint'),
 ('listings', 'minimum_nights', 'bigint'),
 ('listings', 'maximum_nights', 'bigint'),
 ('listings', 'availability_30', 'bigint'),
 ('listings', 'availability_60', 'bigint'),
 ('listings', 'availability_365', 'bigint'),
 ('listings', 'availability_90', 'bigint'),
 ('listings', 'instant_bookable', 'boolean'),
 ('listings', 'has_availability', 'boolean'),
 ('listings', 'price', 'double precision'),
 ('listings', 'beds', 'double precision'),
 ('listings', 'review_scores_rating', 'double precision'),
 ('listings', 'review_scores_accuracy', 'double precision'),
 ('listings', 'review_scores_cleanliness', 'double precision'),
 ('listings', 'review_scores_checkin', 'double precision'),
 ('listings', 'review_scores_communication', 'double precision'),
 ('listings', 'review_scores_location', 'double precision'),
 ('listings', 'review_scores_value', 'double precision'),
 ('listings', 'bedrooms', 'double precision'),
 ('listings', 'id', 'double precision'),
 ('listings', 'reviews_per_month', 'double precision'),
 ('listings', 'bathroom_num', 'text'),
 ('listings', 'bathrooms_text', 'text'),
 ('listings', 'neighborhood_overview', 'text'),
 ('listings', 'amenities', 'text'),
 ('listings', 'neighbourhood_cleansed', 'text'),
 ('listings', 'island', 'text'),
 ('listings', 'property_type', 'text'),
 ('listings', 'room_type', 'text'),
 ('listings', 'description', 'text'),
 ('listings', 'name', 'text'),
 ('listings', 'last_review', 'timestamp without time zone'),
 ('listings', 'first_review', 'timestamp without time zone'),
 ('reviews', 'reviewer_id', 'bigint'),
 ('reviews', 'listing_id', 'double precision'),
 ('reviews', 'id', 'double precision'),
 ('reviews', 'comments', 'text'),
 ('reviews', 'reviewer_name', 'text'),
 ('reviews', 'date', 'timestamp without time zone')]

In [23]:
%%sql
SELECT * 
FROM reviews
LIMIT 5;

 * postgresql://postgres:***@localhost/hawaii_airbnb
5 rows affected.

[(3002.0, 63686.0, datetime.datetime(2010, 7, 11, 0, 0), 155310, 'Debbie', "Lynne is very kind and accommodating, the location can't be beat - very central Waikiki.  I had a great experience and miss Hawaii!"),
 (3002.0, 71254.0, datetime.datetime(2010, 7, 31, 0, 0), 75939, 'Bonnie', "I came back to the island on my own for my 25th HS reunion; I wanted to come but I did have some budget constraints & didn't want to spend a lot on a ... (212 characters truncated) ... t on the lanai looking out towards the beach was a nice start to every day, and now I'm about to take one of her bodyboards & go do a little surfing!"),
 (3002.0, 132520.0, datetime.datetime(2010, 11, 2, 0, 0), 189930, 'Alexandra', 'I had a wonderfull time in Hawaii. Lynne is a super-super host and very welcoming:)! I really enjoy my stay in her flat. The location is perfect, just in the center, and the flat is nice and quiet:)'),
 (3002.0, 158315.0, datetime.datetime(2010, 12, 25, 0, 0), 291487, 'Shirley', 'Lynn was a wonderful hostess and is a lovely, friendly, kind hearted person.  '),
 (3002.0, 168133.0, datetime.datetime(2011, 1, 8, 0, 0), 331679, 'Elizabeth', 'Just a short walk to Waikiki beach, restaurants, and shopping. Parking available for a price...nice swimming pool.....internet available.\r \r Staying with Lynne was like visiting an old fiend. Comfortable and easy...My daughter and I enjoyed our short stay very much.')]

In [24]:
%%sql

-- Checking to make sure data types were captured correctly in SQL tables
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_name IN ('listings', 'hosts', 'reviews')
ORDER BY table_name, data_type;

 * postgresql://postgres:***@localhost/hawaii_airbnb
62 rows affected.

[('hosts', 'host_response_rate', 'bigint'),
 ('hosts', 'host_id', 'bigint'),
 ('hosts', 'host_acceptance_rate', 'bigint'),
 ('hosts', 'host_identity_verified', 'boolean'),
 ('hosts', 'host_has_profile_pic', 'boolean'),
 ('hosts', 'host_is_superhost', 'boolean'),
 ('hosts', 'host_listings_count', 'double precision'),
 ('hosts', 'host_response_time', 'text'),
 ('hosts', 'host_verifications', 'text'),
 ('hosts', 'host_name', 'text'),
 ('hosts', 'host_neighbourhood', 'text'),
 ('hosts', 'host_location', 'text'),
 ('hosts', 'host_about', 'text'),
 ('hosts', 'host_since', 'timestamp without time zone'),
 ('listings', 'number_of_reviews', 'bigint'),
 ('listings', 'calculated_host_listings_count_shared_rooms', 'bigint'),
 ('listings', 'calculated_host_listings_count_private_rooms', 'bigint'),
 ('listings', 'calculated_host_listings_count_entire_homes', 'bigint'),
 ('listings', 'calculated_host_listings_count', 'bigint'),
 ('listings', 'host_id', 'bigint'),
 ('listings', 'accommodates', 'bigint'),
 ('listings', 'bathroom_shared', 'bigint'),
 ('listings', 'number_of_reviews_l30d', 'bigint'),
 ('listings', 'number_of_reviews_ltm', 'bigint'),
 ('listings', 'minimum_nights', 'bigint'),
 ('listings', 'maximum_nights', 'bigint'),
 ('listings', 'availability_30', 'bigint'),
 ('listings', 'availability_60', 'bigint'),
 ('listings', 'availability_365', 'bigint'),
 ('listings', 'availability_90', 'bigint'),
 ('listings', 'instant_bookable', 'boolean'),
 ('listings', 'has_availability', 'boolean'),
 ('listings', 'price', 'double precision'),
 ('listings', 'beds', 'double precision'),
 ('listings', 'review_scores_rating', 'double precision'),
 ('listings', 'review_scores_accuracy', 'double precision'),
 ('listings', 'review_scores_cleanliness', 'double precision'),
 ('listings', 'review_scores_checkin', 'double precision'),
 ('listings', 'review_scores_communication', 'double precision'),
 ('listings', 'review_scores_location', 'double precision'),
 ('listings', 'review_scores_value', 'double precision'),
 ('listings', 'bedrooms', 'double precision'),
 ('listings', 'id', 'double precision'),
 ('listings', 'reviews_per_month', 'double precision'),
 ('listings', 'bathroom_num', 'text'),
 ('listings', 'bathrooms_text', 'text'),
 ('listings', 'neighborhood_overview', 'text'),
 ('listings', 'amenities', 'text'),
 ('listings', 'neighbourhood_cleansed', 'text'),
 ('listings', 'island', 'text'),
 ('listings', 'property_type', 'text'),
 ('listings', 'room_type', 'text'),
 ('listings', 'description', 'text'),
 ('listings', 'name', 'text'),
 ('listings', 'last_review', 'timestamp without time zone'),
 ('listings', 'first_review', 'timestamp without time zone'),
 ('reviews', 'reviewer_id', 'bigint'),
 ('reviews', 'listing_id', 'double precision'),
 ('reviews', 'id', 'double precision'),
 ('reviews', 'comments', 'text'),
 ('reviews', 'reviewer_name', 'text'),
 ('reviews', 'date', 'timestamp without time zone')]

### Listings
* id - Airbnb's unique identifier for the listing
* name - Name of the listing
* description - Detailed description of the listing
* neighborhood_overview - Host's description of the neighbourhood
* host_id - Airbnb's unique identifier for the host/user
* neighbourhood_cleansed - The neighbourhood as geocoded using the latitude and longitude against neighborhoods as defined by open or public digital shapefiles
* island - Island of Hawaii where the listing is located 
* property_type - Host-selected property type
* room_type - Accommodation type, selected from three options (Entire home/apt, Prive room, Shared room)
* accommodates - The maximum capacity of the listing
* bathrooms_text - Number of bathrooms (text)
* bathroom_num - Number of bathrooms (numerical)
* bathroom_shared - Whether bathroom is shared (1) or not (0)
* bedrooms - Number of bedrooms
* beds - Number of beds
* amenities - Amenities available
* price - Daily price in local currency
* minimum_nights - minimum number of night stay for the listing
* maximum_nights - maximum number of night stay for the listing
* has_availability - whether the listing had availability as of the day of scrape 
* availability_30 - The availability of the listing 30 days in the future as determined by the calendar
* availability_60 - The availability of the listing 60 days in the future as determined by the calendar
* availability_90 - The availability of the listing 90 days in the future as determined by the calendar
* availability_365 - The availability of the listing 365 days in the future as determined by the calendar
* number_of_reviews - The number of reviews the listing has
* number_of_reviews_ltm - The number of reviews the listing has (in the last 12 months)
* number_of_reviews_l30d - The number of reviews the listing has (in the last 30 days)
* first_review - The date of the first/oldest review
* last_review - The date of the last/newest review
* review_scores_rating - Average overall rating on listing
* review_scores_accuracy - Average accuracy rating on listing
* review_scores_cleanliness - Average cleanliness rating on listing
* review_scores_checkin - Average check-in rating on listing
* review_scores_communication - Average host communication rating on listing
* review_scores_location - Average location rating on listing
* review_scores_value - Average value rating on listing
* instant_bookable - Whether the guest can automatically book the listing without the host needing to accept their booking request, an indicator of a commercial listing
* calculated_host_listings_count - The number of listings the host has in the current scrape, in the city/region geography
* calculated_host_listings_count_entire_homes - The number of Entire home/apt listings the host has in the current scrape, in the city/region geography
* calculated_host_listings_count_private_rooms - The number of Private room listings the host has in the current scrape, in the city/region geography
* calculated_host_listings_count_shared_rooms - The number of Shared room listings the host has in the current scrape, in the city/region geography
* reviews_per_month - The number of reviews the listing has over the lifetime of the listing

### Reviews
* listing_id - Airbnb's unique identifier for the listing
* id - Unique idenitifier for review
* date - Date of review
* reviewer_id - Reviewer's unique identifier
* reviewer_name - Name of review
* comments - Review left by reviewer

### Hosts
* host_id - Airbnb's unique identifier for the host/user
* host_name - First name of the host
* host_since - The date the host/user was created, for hosts that are Airbnb guests this could be the date they registered as a guest
* host_location - The host's self reported location
* host_about - Description about the host
* host_response_time - Average host response time to guest inquiries
* host_response_rate - Average host response rate to guest inquiries
* host_acceptance_rate - That rate at which a host accepts booking requests
* host_is_superhost - Whether host is a superhost or not, meaning they were selected by Airbnb as a host that is extremely welcoming and provides extraordinary experiences for their guests
* host_neighbourhood - Neighborhood where host is located
* host_listings_count - The number of listings the host has (per Airbnb calculations)
* host_verifications - How the host has been verified 
* host_has_profile_pic - Whether host has profile picture or not
* host_identity_verified - Whether host has had identity verified

## Exploring data 

I will take a preliminary look at our tables in the database by using queries to answer simple questions such as "How many listings are there on each island?" and "What is the most common number of bedrooms and bathrooms per listing?".

### How many listings are there on each island, and what percentage of total listings does each island contain?

In [25]:
%%sql

SELECT island, COUNT(id), ROUND(COUNT(id) * 100.0 / (SELECT COUNT(*) FROM listings), 2) as percent_of_total
FROM listings
GROUP BY island
ORDER BY percent_of_total DESC;

 * postgresql://postgres:***@localhost/hawaii_airbnb
4 rows affected.

[('Maui', 9513, Decimal('31.64')),
 ('Oahu', 8867, Decimal('29.49')),
 ('Hawaii', 7045, Decimal('23.43')),
 ('Kauai', 4639, Decimal('15.43'))]

### How many hosts have listings in Hawaii by island?

In [26]:
%%sql

SELECT island, COUNT (DISTINCT host_id) AS unique_hosts
FROM listings
GROUP BY island
ORDER BY unique_hosts DESC;

 * postgresql://postgres:***@localhost/hawaii_airbnb
4 rows affected.

[('Oahu', 2744), ('Hawaii', 2678), ('Maui', 2236), ('Kauai', 1020)]

### What is the most common property type, room type, accommodation capacity, number of bedrooms and number of bathrooms for listings on any of the islands?

In [27]:
%%sql

SELECT feature, most_popular
FROM (
  SELECT 'property_type' AS feature, property_type AS most_popular,
         RANK() OVER (ORDER BY COUNT(property_type) DESC) AS rank
  FROM listings
  GROUP BY property_type
  UNION
  SELECT 'room_type' AS feature, room_type AS most_popular,
         RANK() OVER (ORDER BY COUNT(room_type) DESC) AS rank
  FROM listings
  GROUP BY room_type
  UNION
  SELECT 'accommodates' AS feature, accommodates::text AS most_popular,
         RANK() OVER (ORDER BY COUNT(accommodates) DESC) AS rank
  FROM listings
  GROUP BY accommodates
  UNION
  SELECT 'bedrooms' AS feature, bedrooms::text AS most_popular,
         RANK() OVER (ORDER BY COUNT(bedrooms) DESC) AS rank
  FROM listings
  GROUP BY bedrooms
  UNION
  SELECT 'bathroom_num' AS feature, bathroom_num::text AS most_popular,
         RANK() OVER (ORDER BY COUNT(bathroom_num) DESC) AS rank
  FROM listings
  GROUP BY bathroom_num
) AS subquery
WHERE rank = 1
ORDER BY feature;

 * postgresql://postgres:***@localhost/hawaii_airbnb
5 rows affected.

[('accommodates', '4'),
 ('bathroom_num', '1'),
 ('bedrooms', '1'),
 ('property_type', 'Entire condo'),
 ('room_type', 'Entire home/apt')]

## Analyzing the Price of Airbnb Rentals in Hawaii

### Which island is the most expensive to stay on?

In [28]:
%%sql

SELECT island, ROUND(AVG(price)::DECIMAL, 2) AS avg_daily_price
FROM listings
GROUP BY island
ORDER BY avg_daily_price DESC;

 * postgresql://postgres:***@localhost/hawaii_airbnb
4 rows affected.

[('Maui', Decimal('744.16')),
 ('Kauai', Decimal('475.37')),
 ('Hawaii', Decimal('442.40')),
 ('Oahu', Decimal('418.82'))]

Maui is the most expensive island to visit, and by quite a lot it seems! On each island, what is the most expensive neighborhood to stay in?

In [29]:
%%sql

SELECT island, neighbourhood_cleansed, ROUND(AVG(price)::DECIMAL, 2) AS avg_daily_price
FROM listings
GROUP BY island, neighbourhood_cleansed
ORDER BY island, avg_daily_price DESC;

 * postgresql://postgres:***@localhost/hawaii_airbnb
30 rows affected.

[('Hawaii', 'South Kohala', Decimal('869.34')),
 ('Hawaii', 'North Kona', Decimal('403.51')),
 ('Hawaii', 'North Kohala', Decimal('386.66')),
 ('Hawaii', 'Hamakua', Decimal('367.65')),
 ('Hawaii', 'North Hilo', Decimal('256.63')),
 ('Hawaii', 'Puna', Decimal('251.24')),
 ('Hawaii', 'Kau', Decimal('241.27')),
 ('Hawaii', 'South Kona', Decimal('239.02')),
 ('Hawaii', 'South Hilo', Decimal('192.05')),
 ('Kauai', 'Koloa-Poipu', Decimal('594.25')),
 ('Kauai', 'Waimea-Kekaha', Decimal('483.70')),
 ('Kauai', 'Lihue', Decimal('463.36')),
 ('Kauai', 'North Shore Kauai', Decimal('447.91')),
 ('Kauai', 'Kapaa-Wailua', Decimal('343.87')),
 ('Maui', 'Lahaina', Decimal('941.27')),
 ('Maui', 'Kihei-Makena', Decimal('600.04')),
 ('Maui', 'Paia-Haiku', Decimal('444.71')),
 ('Maui', 'Lanai', Decimal('390.25')),
 ('Maui', 'Hana', Decimal('360.24')),
 ('Maui', 'Makawao-Pukalani-Kula', Decimal('281.70')),
 ('Maui', 'Wailuku-Kahului', Decimal('217.97')),
 ('Maui', 'Molokai', Decimal('168.61')),
 ('Oahu', 'Koolaupoko', Decimal('665.67')),
 ('Oahu', 'East Honolulu', Decimal('612.42')),
 ('Oahu', 'Ewa', Decimal('575.68')),
 ('Oahu', 'Koolauloa', Decimal('509.51')),
 ('Oahu', 'North Shore Oahu', Decimal('507.35')),
 ('Oahu', 'Primary Urban Center', Decimal('378.18')),
 ('Oahu', 'Waianae', Decimal('264.89')),
 ('Oahu', 'Central Oahu', Decimal('155.77'))]

The most expensive neighborhoods to stay in for each island are South Kohala on the Island of Hawaii, Koloa-Poipu on Kauai, Lahaina on Maui, and Koolaupoko on Oahu.

### How do prices compare for different property types, room types, accommodation capacities, number of bedrooms and number of bathrooms?

In [30]:
%%sql

SELECT property_type, AVG(price) as avg_daily_price
FROM listings
GROUP BY property_type
ORDER BY avg_daily_price DESC
LIMIT 5;

 * postgresql://postgres:***@localhost/hawaii_airbnb
5 rows affected.

[('Entire villa', 1763.3556034482758),
 ('Room in hotel', 1296.4172462077013),
 ('Entire home', 799.4433576864535),
 ('Hut', 762.2),
 ('Private room in resort', 705.0755364806867)]

In [31]:
%%sql

SELECT room_type, AVG(price) as avg_daily_price
FROM listings
GROUP BY room_type
ORDER BY avg_daily_price DESC;

 * postgresql://postgres:***@localhost/hawaii_airbnb
4 rows affected.

[('Private room', 625.6966476190477),
 ('Entire home/apt', 524.6470169762484),
 ('Hotel room', 368.6753246753247),
 ('Shared room', 85.525)]

In [32]:
%%sql

SELECT accommodates, AVG(price) as avg_daily_price
FROM listings
GROUP BY accommodates
ORDER BY avg_daily_price DESC;

 * postgresql://postgres:***@localhost/hawaii_airbnb
16 rows affected.

[(16, 2613.2706143344712),
 (14, 2438.364705882353),
 (11, 1822.8936170212767),
 (13, 1685.8666666666666),
 (12, 1674.8505494505494),
 (10, 1531.467803030303),
 (15, 1273.2),
 (8, 1110.3101436515292),
 (9, 842.9345794392524),
 (1, 777.4112426035502),
 (6, 677.3333844502376),
 (7, 540.027027027027),
 (4, 381.02685020166973),
 (5, 351.0256477561389),
 (3, 229.41118247298922),
 (2, 218.41926514750043)]

In [33]:
%%sql

SELECT bedrooms, AVG(price) as avg_daily_price
FROM listings
GROUP BY bedrooms
ORDER BY avg_daily_price DESC;

 * postgresql://postgres:***@localhost/hawaii_airbnb
12 rows affected.

[(12.0, 7210.333333333333),
 (11.0, 6184.5),
 (9.0, 6142.2307692307695),
 (10.0, 4565.416666666667),
 (8.0, 2945.9545454545455),
 (7.0, 2709.6486486486488),
 (6.0, 2467.340909090909),
 (5.0, 1820.797385620915),
 (4.0, 1368.567985309549),
 (3.0, 953.779261682243),
 (2.0, 565.3873844820948),
 (1.0, 310.89648605365005)]

In [34]:
%%sql

SELECT bathroom_num, AVG(price) as avg_daily_price
FROM listings
GROUP BY bathroom_num
ORDER BY avg_daily_price DESC;

 * postgresql://postgres:***@localhost/hawaii_airbnb
27 rows affected.

[('14', 19214.0),
 ('10.5', 9514.0),
 ('11', 8852.0),
 ('12', 8282.0),
 ('10', 6810.0),
 ('7.5', 6419.142857142857),
 ('9', 5641.777777777777),
 ('13', 4209.0),
 ('7', 4202.727272727273),
 ('8', 3779.44),
 ('5.5', 3596.561403508772),
 ('8.5', 3546.3333333333335),
 ('9.5', 3487.5),
 ('6.5', 3180.8),
 ('6', 2355.0337078651687),
 ('18', 2000.0),
 ('4.5', 1929.672131147541),
 ('5', 1826.3918918918919),
 ('4', 1684.5895685279188),
 ('3.5', 1635.6635279187815),
 ('3', 1166.170189098999),
 ('1.5', 759.3534482758621),
 ('2.5', 686.5425149700599),
 ('2', 635.5476448657861),
 ('1', 274.75167723704874),
 ('0.5', 222.1994827586207),
 ('0', 188.11111111111111)]

As expected, the price of the listing generally increases as a property accommodates more people, has more bedrooms, and has more bathrooms. In addition, the priciest types of properties are "Entire villa", "Room in hotel", and "Entire home", while the priciest room types are "Private room" and "Entire home/apt". It is clear that private accommodations are pricier than shared accommodations.

### What are the most common amenities, and how does the presence of those amenities impact the price of the listing?

In [35]:
%%sql 

SELECT amenity, COUNT(*) AS total_listings, AVG(price) AS avg_daily_price
FROM 
    (SELECT regexp_split_to_table(amenities, '[,"]+') AS amenity, price
    FROM listings
    WHERE amenities IS NOT NULL
    ) AS filtered_listings
WHERE amenity NOT IN (' ', '[', ']')
GROUP BY amenity
ORDER BY total_listings DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/hawaii_airbnb
10 rows affected.

[('Wifi', 28154, 543.0749815301556),
 ('Smoke alarm', 26821, 530.9068118265538),
 ('Kitchen', 26648, 531.5108931251876),
 ('Long term stays allowed', 26601, 539.9864696815908),
 ('Hair dryer', 25529, 543.761208429629),
 ('Essentials', 24695, 501.29796436525623),
 ('Iron', 23466, 566.7992900366488),
 ('Hangers', 22931, 511.8796576686581),
 ('Dishes and silverware', 22655, 494.7489419554183),
 ('Microwave', 22281, 511.87540909294916)]

The most commonly offered amenities are wifi, smoke alarms, and kitchens. There doesn't appear to be much of an effect in terms of price for properties that include these amenities. This makes sense as we would generally expect most accommodations to have these essentials. What amenities are associated with the most expensive listings?

In [36]:
%%sql 

SELECT amenity, COUNT(*) AS total_listings, AVG(price) AS avg_daily_price
FROM (
    SELECT regexp_split_to_table(amenities, '[,"]+') AS amenity, price
    FROM listings
    WHERE amenities IS NOT NULL
) AS filtered_listings
WHERE amenity NOT IN ('', '[', ']')
GROUP BY amenity
HAVING COUNT(*) > 5
ORDER BY avg_daily_price DESC
LIMIT 10;

 * postgresql://postgres:***@localhost/hawaii_airbnb
10 rows affected.

[('Heated pool', 7, 7885.142857142857),
 ('Gated property', 16, 7382.6875),
 ('Alarm system', 7, 6143.0),
 ('Alfresco shower', 14, 5590.785714285715),
 ('Spa', 9, 5254.111111111111),
 ('Media room', 11, 5153.454545454545),
 ('Surround sound system', 10, 4876.3),
 ('Golf cart', 14, 4777.642857142857),
 ('Changing table', 265, 4731.74716981132),
 ('Propane barbeque', 11, 4695.636363636364)]

In the above query, I've sorted amenities by highest average price of the associated listing, and have also limited the query to amenities that are offered by at least 5 properties to avoid any outliers. Properties that have heated pools, are gated properties, and have alarm systems are the most expensive on average.

### How does price differ for listings with high numbers of reviews and good reviews?

In [37]:
%%sql

SELECT 
    ROUND(number_of_reviews, -2) AS rounded_total_reviews, 
    COUNT(*) AS total_listings, 
    AVG(price) AS avg_daily_price
FROM 
    listings
WHERE 
    number_of_reviews IS NOT NULL
GROUP BY 
    rounded_total_reviews
ORDER BY 
    rounded_total_reviews ASC;

 * postgresql://postgres:***@localhost/hawaii_airbnb
12 rows affected.

[(Decimal('0'), 24240, 602.3282896039603),
 (Decimal('100'), 4389, 280.6720391888813),
 (Decimal('200'), 974, 204.52493839835728),
 (Decimal('300'), 303, 187.5860396039604),
 (Decimal('400'), 105, 167.72790476190477),
 (Decimal('500'), 27, 173.40740740740742),
 (Decimal('600'), 8, 184.5),
 (Decimal('700'), 8, 139.5),
 (Decimal('800'), 5, 172.2),
 (Decimal('900'), 2, 125.5),
 (Decimal('1000'), 2, 167.5),
 (Decimal('1100'), 1, 85.0)]

It looks like properties with less reviews tend to be more expensive on average. This could be because there is a smaller population of people who can afford to rent out an expensive listing compared to an inexpensive listing, so the expensive listing would accummulate less reviews over time.

In [38]:
%%sql 

SELECT 
    ROUND(ROUND(review_scores_rating::DECIMAL * 2) / 2, 1) AS rounded_rating, 
    COUNT(*) AS total_listings, 
    ROUND(AVG(price::DECIMAL),2) AS avg_daily_price
FROM 
    listings
WHERE 
    review_scores_rating IS NOT NULL
GROUP BY 
    rounded_rating
ORDER BY 
    rounded_rating ASC;

 * postgresql://postgres:***@localhost/hawaii_airbnb
9 rows affected.

[(Decimal('0.0'), 22, Decimal('875.55')),
 (Decimal('1.0'), 34, Decimal('683.88')),
 (Decimal('2.0'), 29, Decimal('375.14')),
 (Decimal('2.5'), 14, Decimal('363.64')),
 (Decimal('3.0'), 151, Decimal('611.94')),
 (Decimal('3.5'), 175, Decimal('299.98')),
 (Decimal('4.0'), 977, Decimal('422.74')),
 (Decimal('4.5'), 5868, Decimal('320.19')),
 (Decimal('5.0'), 16020, Decimal('441.13'))]

There doesn't appear to be a clear relationship between the rounded overall rating of a listing and its average price per night. The large majority of the listings have rounded overall ratings of 4.5 or 5 stars, which could explain why the other smaller categories seem pretty random in terms of average price.

### Superhosts are hosts that are recognized by Airbnb for providing exceptional experiences for their guests. Do superhosts charge more for their properties, keeping the island constant?

In [39]:
%%sql
SELECT 
    island, 
    COUNT(*) AS total_listings, 
    CAST(AVG(CASE WHEN host_is_superhost = True THEN price::DECIMAL END) AS NUMERIC(10,2)) AS avg_superhost_price,
    CAST(AVG(CASE WHEN host_is_superhost = False THEN price::DECIMAL END) AS NUMERIC(10,2)) AS avg_non_superhost_price,
    CAST(AVG(CASE WHEN host_is_superhost = True THEN price::DECIMAL END) - AVG(CASE WHEN host_is_superhost = False THEN price END) AS NUMERIC(10,2)) AS price_difference
FROM listings
JOIN hosts ON listings.host_id = hosts.host_id
GROUP BY island
ORDER BY island;

 * postgresql://postgres:***@localhost/hawaii_airbnb
4 rows affected.

[('Hawaii', 7045, Decimal('369.54'), Decimal('514.14'), Decimal('-144.60')),
 ('Kauai', 4639, Decimal('406.17'), Decimal('523.02'), Decimal('-116.85')),
 ('Maui', 9513, Decimal('558.62'), Decimal('871.01'), Decimal('-312.38')),
 ('Oahu', 8867, Decimal('352.93'), Decimal('449.72'), Decimal('-96.79'))]

Superhosts actually tend to charge less for their listings per island. There could be many factors involved in this trend, for example, superhosts may have an easier time renting out all of the availability for their listings due to their status, and thus can charge lower prices. It could also be the case that hosts that become superhosts are already more likely to have cheaper listings. Superhosts are chosen partly through the number of positive reviews they receive, and less expensive properties may be more accessible to a larger population of people who visit Hawaii, compared to more expensive properties that may take longer to accumulate the same number of positive reviews. Whatever the reason, it seems like a pretty safe bet to go for a superhost listing the next time you visit the islands!

## Analyzing Ratings and Reviews for Airbnb Rentals in Hawaii

### Are there any differences in ratings for each island?

In [40]:
%%sql 

SELECT island, 
       COUNT(*) AS total_listings,
       AVG(review_scores_rating) AS avg_overall_rating
FROM listings
GROUP BY island;

 * postgresql://postgres:***@localhost/hawaii_airbnb
4 rows affected.

[('Maui', 9513, 4.766737276845181),
 ('Hawaii', 7045, 4.789476598785245),
 ('Kauai', 4639, 4.78014241831888),
 ('Oahu', 8867, 4.709638152914429)]

Oahu seems to have lower ratings than the other islands. Let's check if the difference is statistically significant using a one-tailed t-test.

In [41]:
from scipy.stats import ttest_1samp
from sqlalchemy import text

with engine.connect() as conn:  
    results = conn.execute(text("""
        SELECT island, 
               AVG(review_scores_rating) AS avg_overall_rating
        FROM listings
        GROUP BY island;
    """))

# Convert results to a pandas DataFrame
df = pd.DataFrame(results, columns=['island', 'avg_overall_rating'])

# Calculate the mean overall rating across all island
overall_mean = df['avg_overall_rating'].mean()

# Perform one-sample t-test for each island to see if mean is statistically different from mean across islands
for island in df['island']:
    island_mean = df.loc[df['island'] == island, 'avg_overall_rating'].iloc[0]
    t_statistic, p_value = ttest_1samp(df['avg_overall_rating'], island_mean)
    print(f"{island}: t={t_statistic:.3f}, p={p_value:.3f}")

Maui: t=-0.293, p=0.789
Hawaii: t=-1.563, p=0.216
Kauai: t=-1.041, p=0.374
Oahu: t=2.896, p=0.063

The p-value for Oahu is 0.063, which is greater than the commonly used significance level of 0.05, so we fail to reject the null hypothesis that Oahu's ratings are significantly different than the mean of all ratings across islands.

### Sentiment analysis on reviews - can we find the most negative reviews in the dataset?

In [42]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

with engine.connect() as conn:  
    results = conn.execute(text("""
        SELECT *
        FROM reviews;
    """))

df = pd.DataFrame(results, columns=['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'])
df['comments'] = df['comments'].astype(str)

In [43]:
from langdetect import detect 
def detectlang(x):
    try:
        lang = detect(x)
    except:
        lang = 'Other'
    return lang

step_size = 10000 # print status update after processing this many comments
num_comments = len(df)
for i in range(0, num_comments, step_size):
    df_subset = df.iloc[i:i+step_size]
    df_subset['language'] = df_subset['comments'].apply(detectlang)
    print(f"Processed {i+step_size} comments out of {num_comments}")

df['language'] = df['comments'].apply(detectlang)

df.to_csv('/Users/kaileighstopa/Desktop/Python Practice/Hawaii Airbnb/Data/reviews_with_language.csv')

df = df[df['language'] == 'en']

# Initialize the Vader Sentiment Intensity Analyzer
nltk.download()
analyzer = SentimentIntensityAnalyzer()


# Calculate the sentiment score for each review
df['sentiment_score'] = df['comments'].apply(lambda x: analyzer.polarity_scores(x)['compound'])

# Sort the reviews by sentiment score in ascending order to find the most negative reviews
most_negative_reviews = df.sort_values(by=['sentiment_score'], ascending=True)

# Print the most negative reviews
print(most_negative_reviews['comments'])

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 10000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 20000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 30000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 40000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 50000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 60000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 70000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 80000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 90000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 100000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 110000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 120000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 130000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 140000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 150000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 160000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 170000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 180000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 190000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 200000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 210000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 220000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 230000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 240000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 250000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 260000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 270000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 280000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 290000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 300000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 310000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 320000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 330000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 340000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 350000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 360000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 370000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 380000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 390000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 400000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 410000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 420000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 430000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 440000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 450000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 460000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 470000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 480000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 490000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 500000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 510000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 520000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 530000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 540000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 550000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 560000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 570000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 580000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 590000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 600000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 610000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 620000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 630000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 640000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 650000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 660000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 670000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 680000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 690000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 700000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 710000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 720000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 730000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 740000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 750000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 760000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 770000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 780000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 790000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 800000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 810000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 820000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 830000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 840000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 850000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 860000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 870000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 880000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 890000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 900000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 910000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 920000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 930000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 940000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 950000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 960000 comments out of 961631

/var/folders/1d/wshdc1vs5sldbdlstdtwvqbr0000gn/T/ipykernel_731/3405240058.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['language'] = df_subset['comments'].apply(detectlang)

Processed 970000 comments out of 961631
showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml
59081     When it comes to reviews, I only feel compelle...
4632      "I knew from the first time I met you that you...
97694     BUYER BEWARE !!!! Absolutely the worst ARBNB e...
726781    Worst AirBNB Experience.  I don’t even know wh...
189264    DO NOT STAY HERE!!!   We arrived at 11:00 PM a...
                                ...
843743    I love a thorough review so this is it.. Commu...
745954    I can’t say enough wonderful things about this...
56320     Hugh and Elvira's place is an absolute gem, an...
894351    I have stayed at AirBnB’s around the world, an...
695686    We really enjoyed our stay at Ka'anapali Beach...
Name: comments, Length: 918438, dtype: object

### Trends in the types of complaints or praises guests express in their reviews?

## Analyzing top hosts

* Is there a correlation between how long a host has been a host and their average ratings/reviews?
* Average response time of hosts to guest inquiries
* Correlation between response time and rating/price of a listing? 
* What percentage of booking requests are accepted by hosts on average? 
* What percentage of hosts in Hawaii are verified
* What percentage of hosts in Hawaii are actually based in Hawaii
* Average length of time that hosts have been on the platform
* Median number of listings per hosts